.blog-abstract {
  position: relative;
  background-color: #ffffff;
  margin-top: 2rem;
  padding: 1rem 3rem 1rem 3rem;
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  transition: all .3s linear;
  &:hover {
    transition: all .2s linear;
    -moz-box-shadow: 2px 2px 4px #9c9c9c;
    -webkit-box-shadow: 1px 5px 20px  #9c9c9c;
    box-shadow: 0 5px 15px  #9c9c9c;
  }

  .abstract-header {
    height: 5.5rem;

    .head-img {
      display: inline-block;
      width: 5rem;
      height: 5rem;
      margin-right: 1rem;
    }

    .author-name {
      width: 100%;
      position: relative;
      left: 6rem;
      top: -4.3rem;
      font-size: 1.6rem;
    }

    .time {
      width: 100%;
      position: relative;
      left: 6rem;
      top: -4.8rem;
      margin-bottom: 0;
      color: #888888;
    }

    .labels {
      position: relative;
      top: -7.5rem;
      float: right;

      span {
        font-size: 1.5rem;
        margin-left: 0.5rem;
      }
    }

  }

  .title {
    margin-top: 0;
    padding-left: 6rem;
  }

  .content {
    margin-top: 0;
    padding-left: 6rem;
  }
}